@charset "utf-8";

/*header*/
div.utilWrap{
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
}
div.util{
	width: 980px;
	margin: 0 auto;
	_background-color:skyblue;
}

ul.utilMenu{
	margin-left: auto;
	width: 280px;
}
ul.utilMenu li{
	float:left;
	position: relative;
}
ul.utilMenu li:after{
	content:"";
	display: block;
	width: 1px;height: 10px;
	background-color: #f00;
	position: absolute;
	right: 0;top:10px;
}

ul.utilMenu li:first-child:before{
	content:"";
	display: block;
	width: 1px;height: 10px;
	background-color: #00f;
	position: absolute;
	left: 0;top:10px;
}

/*ul.utilMenu li:last-child:after{content:"";display: none;}*/
ul.utilMenu li a{
	display: block;
	padding:0 10px;
	line-height: 30px;
}

#header h1{
	text-align: center;
	_background-color:pink;
	margin-bottom: 15px;
}

div.gnbWrap{
	background-color: #1d5da4;
}

nav.gnbMenu{
	width: 980px;
	margin: 0 auto;
}

nav.gnbMenu li{
	float: left;
	width: 163.333px;
	box-sizing: border-box;
	border-right: 1px solid #ccc;
}
nav.gnbMenu li:first-child{
	border-left: 1px solid #ccc;
}

nav.gnbMenu li a{
	display: block;
	line-height:45px;
	text-align: center;
	color:white;
	font-weight:bold;
}

/*nav.gnbMenu li a:hover{background-color:skyblue;color:#1d5da4;}*/
nav.gnbMenu li:hover{
	background-color:skyblue;
	color:red;
}

nav.gnbMenu li:hover a{
	color:#1d5da4;
}