* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a:link,
a:visited {
  color: #000;
  text-decoration: none;
}

img {
  display: block;
}

li {
  list-style: none;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.header_wrap {
  position: fixed;
  top: 0;
  width: 100%;
  height: 105px;
  z-index: 2;
}

.header_wrap.on {
  width: 100%;
  height: 105px;
  background: #fff;
}

.header_wrap.on::after {
  content: "";
  position: absolute;
  display: block;
  top: 105px;
  width: 100%;
  height: 250px;
  background: #05123f;
  z-index: -1;
}

.header_wrap.on .header nav.gnb .gnb_depth_1 div a {
  display: block;
  color: #05123f;
}

.header_wrap.on .header nav.gnb .gnb_depth_1 div .gnb_depth_2 a {
  display: block;
}

.header_wrap.on .header .header_util a {
  width: 103px;
  display: block;
}

.header_wrap.on .header .header_util a p {
  border: 1px solid #dee6f3;
  color: #323a57;
}

.header_wrap.on .header .header_util a p.right {
  color: #323a57;
  background: #dee6f3;
}

.header_wrap.on .header .header_util a p.right:before {
  background: #dee6f3;
}

.header_wrap:after {
  display: none;
}

.header_wrap .header {
  width: 1260px;
  position: relative;
  top: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header_wrap .header h1 {
  top: 5px;
  position: absolute;
}

.header_wrap .header nav.gnb {
  position: absolute;
  right: 400px;
  top: 1px;
}

.header_wrap .header nav.gnb .gnb_depth_1 div {
  float: left;
  padding-right: 10px;
}

.header_wrap .header nav.gnb .gnb_depth_1 div a {
  display: block;
  color: #fff;
  line-height: 45px;
  font-size: 17px;
  font-weight: 400;
  width: 100px;
  text-align: center;
  border-radius: 30px;
}

.header_wrap .header nav.gnb .gnb_depth_1 div a:hover {
  background: #05123f;
  color: #fff;
}

.header_wrap .header nav.gnb .gnb_depth_1 div .gnb_depth_2 {
  margin-top: 35px;
}

.header_wrap .header nav.gnb .gnb_depth_1 div .gnb_depth_2 li a {
  font-size: 15px;
  line-height: 40px;
  font-weight: 400;
  display: none;
  color: #fff;
}

.header_wrap .header nav.gnb .gnb_depth_1 div .gnb_depth_2 li a:hover p {
  color: #019be2;
}

.header_wrap .header .header_util {
  position: absolute;
  right: 0;
  top: 1px;
}

.header_wrap .header .header_util ul li {
  float: left;
  padding-right: 40px;
}

.header_wrap .header .header_util ul li a {
  width: 103px;
  display: block;
}

.header_wrap .header .header_util ul li a p {
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  color: #fff;
  text-align: center;
  line-height: 43px;
  font-size: 14px;
}

.header_wrap .header .header_util ul li a p.right {
  border-radius: 25px;
  color: #323a57;
  background: #dee6f3;
  text-align: center;
  line-height: 43px;
  font-size: 14px;
}

.header_wrap .header .header_util ul li a p.right:before {
  content: "";
  width: 1px;
  height: 35px;
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  left: 244px;
  top: 4px;
}

.header_wrap .header .header_util ul li:first-child {
  padding-right: 20px;
}

.header_wrap .header .header_util ul li:last-child {
  padding-right: 0;
}

#footer {
  margin-top: 80px;
  width: 100%;
  height: 200px;
  background: #3f3f41;
}

#footer .footer_wrap {
  width: 1260px;
  margin: 0 auto;
  padding: 50px 0px 0px 135px;
  position: relative;
}

#footer .footer_wrap .footer_logo {
  position: absolute;
  top: 50px;
  left: 0;
}

#footer .footer_wrap .footer .footer_etc {
  margin-bottom: 20px;
}

#footer .footer_wrap .footer .footer_etc li {
  float: left;
  margin-right: 30px;
  position: relative;
}

#footer .footer_wrap .footer .footer_etc li a {
  color: #fff;
  font-size: 14px;
}

#footer .footer_wrap .footer .footer_etc li:after {
  content: "";
  display: block;
  width: 1px;
  height: 14px;
  background: #fff;
  position: absolute;
  top: 6px;
  left: -15px;
}

#footer .footer_wrap .footer .footer_etc li:first-child:after {
  display: none;
}

#footer .footer_wrap .footer .address {
  margin-bottom: 10px;
}

#footer .footer_wrap .footer .address p,
#footer .footer_wrap .footer .address span {
  color: #aeaeae;
  font-size: 14px;
}

#footer .footer_wrap .footer .address span {
  float: left;
  margin-right: 18px;
  position: relative;
}

#footer .footer_wrap .footer .address span:after {
  content: "";
  display: block;
  width: 1px;
  height: 14px;
  background: #aeaeae;
  position: absolute;
  top: 4px;
  left: -9px;
}

#footer .footer_wrap .footer .address span:first-child:after {
  display: none;
}

#footer .footer_wrap .footer .address .copyright {
  font-size: 14px;
  color: #757575;
}

#footer .footer_wrap .select {
  position: absolute;
  top: 50px;
  right: 0;
}

* {
  font-family: "Noto Sans KR", sans-serif;
}

body {
  background: #fafafa;
}

body em {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.534);
  border: 1px solid #cdcdcd;
  border-radius: 100%;
  padding-top: 10px;
}

body em img {
  margin: 0 auto;
}

#header {
  position: relative;
  width: 100%;
  /*content*/
}

#header .bx-wrapper {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  background: none;
}

#header .visual_slider_wrap {
  position: relative;
  height: 1005px;
}

#header .visual_slider_wrap .slider_tap {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#header .visual_slider_wrap .slider_tap a {
  float: left;
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  border-radius: 10px;
  margin-right: 20px;
}

#header .visual_slider_wrap .slider_tap a:last-child {
  margin-right: 0;
}

#header .visual_slider_wrap .slider_tap a:hover {
  background: #fff;
}

#header .visual_slider_wrap .slider_tap a.active {
  background: #fff;
}

#header .visual_slider_wrap .visual_slider img {
  height: 1005px;
  margin: 0 auto;
}

#header .visual_slider_wrap .visual_slider div.slider_txt {
  position: absolute;
  left: 50%;
  top: 25%;
  width: 100%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#header .visual_slider_wrap .visual_slider div.slider_txt p {
  font-size: 20px;
  line-height: 25px;
}

#header .visual_slider_wrap .visual_slider div.slider_txt h2 {
  font-size: 70px;
  margin-bottom: 20px;
}

#header .visual_slider_wrap .visual_slider div.slider_txt span.page {
  text-align: center;
  padding: 0 10px;
}

#header .visual_slider_wrap .visual_slider div.slider_txt span.page a {
  font-size: 16px;
  color: #fff;
  margin-left: 25px;
}

#header .visual_slider_wrap .visual_slider div.slider_txt span.page:before {
  content: "";
  position: absolute;
  top: 150px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 1px;
  height: 20px;
  background: #fff;
}

#header #content {
  width: 1260px;
  background: #fafafa;
  position: absolute;
  top: 690px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#header #content li {
  float: left;
  width: 25%;
  height: 315px;
  position: relative;
  overflow: hidden;
}

#header #content li a {
  display: block;
  height: 100%;
  padding-top: 85px;
}

#header #content li .ct_icon {
  width: 125px;
  height: 93px;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  background-image: url(../img/icon.png);
  background-repeat: no-repeat;
  background-size: 1800px;
}

#header #content li p {
  color: #fff;
  text-align: center;
  font-size: 18px;
}

#header #content li.ct_1 {
  background: #05123f;
}

#header #content li.ct_1 .ct_icon {
  background-position: 19px -260px;
}

#header #content li.ct_2 {
  background: #000;
}

#header #content li.ct_2 a {
  padding-top: 0;
}

#header #content li.ct_2 a .play_img {
  width: 100%;
  height: 100%;
  background-image: url(../img/video.jpg);
  background-position: -50px 40px;
  background-size: 400px;
  background-repeat: no-repeat;
  -webkit-transform: scale(1.6);
          transform: scale(1.6);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#header #content li.ct_2 a .over {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#header #content li.ct_2 a .play_btn {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#header #content li.ct_2:hover .play_img {
  -webkit-transform: scale(1);
          transform: scale(1);
}

#header #content li.ct_2:hover .over {
  background: rgba(0, 0, 0, 0);
}

#header #content li.ct_3 {
  width: 50%;
}

#header #content li.ct_3 .news_slider_wrap {
  width: 630px;
  height: 315px;
}

#header #content li.ct_3 .news_slider_wrap .left {
  float: left;
  background: #fff;
  width: 315px;
  height: 315px;
  padding: 30px 40px;
}

#header #content li.ct_3 .news_slider_wrap .left h4 {
  color: #222222;
  font-size: 25px;
  margin-bottom: 15px;
}

#header #content li.ct_3 .news_slider_wrap .left .left_slider .news_slider_txt {
  width: 315px;
  height: 315px;
}

#header #content li.ct_3 .news_slider_wrap .left .left_slider .news_slider_txt a {
  padding: 0;
  height: auto;
}

#header #content li.ct_3 .news_slider_wrap .left .left_slider .news_slider_txt a:hover p,
#header #content li.ct_3 .news_slider_wrap .left .left_slider .news_slider_txt a .n_date {
  color: #2da6d5;
}

#header #content li.ct_3 .news_slider_wrap .left .left_slider .news_slider_txt p {
  color: #222222;
  text-align: left;
  font-size: 16px;
  margin-bottom: 5px;
}

#header #content li.ct_3 .news_slider_wrap .left .left_slider .news_slider_txt p.n_date {
  color: #979797;
}

#header #content li.ct_3 .news_slider_wrap .left:after {
  content: "";
  display: block;
  border-width: 30px;
  border-style: solid;
  border-color: transparent transparent transparent #fff;
  position: absolute;
  top: 50%;
  right: 256px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#header #content li.ct_3 .news_slider_wrap .right {
  float: right;
  width: 315px;
  height: 315px;
}

#header #content li.ct_3 .news_slider_wrap .right .right_slider {
  width: 315px;
  height: 315px;
  overflow: hidden;
}

#header #content li.ct_3 .news_slider_wrap .right .right_slider .news_slider_img {
  width: 317px;
  height: 317px;
}

#header #content li.ct_3 .news_slider_wrap .right .right_slider .news_slider_img div {
  width: 317px;
  height: 317px;
}

#header #content li.ct_3 .news_slider_wrap .right .right_slider .news_slider_img .n_img_1 {
  background-image: url(../img/20210121.095533.3123.png);
  background-position: -530px -100px;
  background-size: 980px;
  background-repeat: no-repeat;
}

#header #content li.ct_3 .news_slider_wrap .right .right_slider .news_slider_img .n_img_2 {
  background-image: url(../img/20210118.104055.5636.jpg);
  background-position: -70px -5px;
  background-size: 470px;
  background-repeat: no-repeat;
}

#header #content li.ct_3 .news_slider_wrap .right .right_slider .news_slider_img .n_img_3 {
  background-image: url(../img/20201228.234714.7916.jpg);
  background-position: -50px 0;
  background-size: 430px;
}

#header #content li.ct_3 .news_slider_wrap .right .right_slider .news_slider_img .n_img_4 {
  background-image: url(../img/20201228.234609.2459.jpg);
  background-position: -200px 0;
  background-size: 1000px;
}

#header #content li.ct_3 .news_slider_wrap .n_slider_btn {
  position: absolute;
  bottom: 30px;
  left: 190px;
  cursor: pointer;
}

#header #content li.ct_3 .news_slider_wrap .n_slider_btn .prev_btn {
  float: left;
  margin-right: 10px;
}

#header #content li.ct_3 .news_slider_wrap .n_slider_btn .next_btn {
  float: right;
}

#header #content li.ct_4 {
  background: #2da6d5;
}

#header #content li.ct_4 .ct_icon {
  background-position: -95px -261px;
}

#header #content li.ct_5 {
  background: #3f3f41;
}

#header #content li.ct_5 .ct_icon {
  background-position: -220px -259px;
}

#header #content .ct_txt {
  position: absolute;
  top: 40px;
  left: 40px;
}

#header #content .ct_txt h3 {
  font-size: 20px;
  color: #fff;
}

#header #content .ct_txt p {
  font-size: 35px;
  font-weight: bold;
  text-align: left;
  line-height: 47px;
}

#header #content .ct_txt h3:after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background-color: #fff;
  margin: 15px 0;
}

#header #content .ct_txt_b {
  position: absolute;
  top: 40px;
  left: 40px;
}

#header #content .ct_txt_b h3 {
  font-weight: bold;
  font-size: 20px;
  color: #222222;
}

#header #content .ct_txt_b p {
  color: #222222;
  font-size: 35px;
  font-weight: bold;
  text-align: left;
  line-height: 47px;
}

#header #content .ct_txt_b h3:after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background-color: #222222;
  margin: 15px 0;
}

#header #content li.ct_6 {
  width: 50%;
}

#header #content li.ct_6 a {
  padding: 0;
  width: 630px;
  height: 315px;
  background-image: url(../img/visual_design.jpg);
  background-position: 0px 0px;
  background-size: cover;
}

#header #content li.ct_7 {
  height: 630px;
}

#header #content li.ct_7 a {
  padding: 0;
  width: 315px;
  height: 630px;
  background-image: url(../img/aiq_pic_1.jpg);
  background-position: -180px 0px;
  background-size: 800px;
}

#header #content li.ct_8 {
  width: 50%;
}

#header #content li.ct_8 a {
  padding: 0;
  width: 630px;
  height: 315px;
  background-image: url(../img/comt_intro_bg.jpg);
  background-position: 0 0;
  background-size: cover;
}

#header #content li.ct_9 {
  background: #2da6d5;
}

#header #content li.ct_9 .ct_icon {
  width: 120px;
  background-position: -343px -260px;
}

#header #content li.ct_10 {
  background: #3f3f41;
}

#header #content li.ct_10 .ct_icon {
  background-position: -446px -259px;
}

#header #content li.ct_11 {
  width: 50%;
}

#header #content li.ct_11 a {
  padding: 0;
  width: 630px;
  height: 315px;
  background-image: url(../img/garden_intro_bg.jpg);
  background-position: 0 0;
  background-size: cover;
}

/*header*/
#main {
  margin-top: 1025px;
  /*merit*/
  /*merit_wrap*/
  /*social*/
  /*social_wrap*/
  /*item*/
}

#main section.merit_wrap {
  background: #333;
  padding: 88px 0px 147px 0px;
  background-image: url(../img/merit_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 80px;
}

#main section.merit_wrap img {
  margin: 0 auto;
  padding-bottom: 70px;
}

#main section.merit_wrap .merit {
  width: 1260px;
  margin: 0 auto;
}

#main section.merit_wrap .merit h4,
#main section.merit_wrap .merit p {
  color: #fff;
  text-align: center;
}

#main section.merit_wrap .merit li {
  float: left;
  width: 300px;
  height: 380px;
  padding: 40px 0;
  margin-right: 20px;
  border-radius: 20px 0px 20px 0px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#main section.merit_wrap .merit li .m_icon {
  width: 93px;
  height: 89px;
  margin: 0 auto;
  background-image: url(../img/m_icon.png);
  background-position: 0 0;
  background-repeat: no-repeat;
}

#main section.merit_wrap .merit li h4 {
  font-size: 25px;
  line-height: 30px;
  margin-top: 40px;
}

#main section.merit_wrap .merit li .m_p {
  font-size: 16px;
  margin-top: 20px;
}

#main section.merit_wrap .merit li:last-child {
  margin-right: 0;
}

#main section.merit_wrap .merit li:hover {
  background: rgba(77, 81, 110, 0.6);
  -webkit-box-shadow: 8px 8px 10px rgba(16, 17, 36, 0.5);
          box-shadow: 8px 8px 10px rgba(16, 17, 36, 0.5);
  -webkit-transform: translate(-10px, -10px);
          transform: translate(-10px, -10px);
}

#main section.merit_wrap .merit .merit_1 .m_icon {
  background-position: 1px 0;
}

#main section.merit_wrap .merit .merit_2 .m_icon {
  background-position: -95px 0;
}

#main section.merit_wrap .merit .merit_3 .m_icon {
  background-position: -199px 0;
}

#main section.merit_wrap .merit .merit_4 .m_icon {
  background-position: -311px 0;
}

#main section.social_wrap {
  width: 1260px;
  height: 630px;
  margin: 0 auto;
  background: #eee;
  margin-bottom: 80px;
}

#main section.social_wrap .social_tit {
  float: left;
  width: 315px;
  height: 630px;
  background: #05123f;
  padding: 90px 40px 30px 40px;
  position: relative;
}

#main section.social_wrap .social_tit h1,
#main section.social_wrap .social_tit h2,
#main section.social_wrap .social_tit p {
  color: #fff;
}

#main section.social_wrap .social_tit div.s_tit_plus img {
  margin: 0 auto;
}

#main section.social_wrap .social_tit div.s_tit_plus h1 {
  text-align: center;
  font-size: 35px;
  margin-top: 35px;
}

#main section.social_wrap .social_tit div.s_tit_plus h2 {
  text-align: center;
  font-size: 30px;
  line-height: 30px;
}

#main section.social_wrap .social_tit div.s_tit_plus .s_p {
  margin: 0 auto;
  margin-top: 50px;
}

#main section.social_wrap .social_tit .s_slider_btn {
  position: absolute;
  bottom: 30px;
  right: 20px;
  cursor: pointer;
}

#main section.social_wrap .social_tit .s_slider_btn em {
  background: none;
}

#main section.social_wrap .social_tit .s_slider_btn .prev_btn {
  float: left;
  margin-right: 10px;
}

#main section.social_wrap .social_tit .s_slider_btn .prev_btn:hover em {
  background: rgba(80, 87, 151, 0.5);
  border: 1px solid #010822;
}

#main section.social_wrap .social_tit .s_slider_btn .next_btn {
  float: left;
}

#main section.social_wrap .social_tit .s_slider_btn .next_btn:hover em {
  background: rgba(80, 87, 151, 0.5);
  border: 1px solid #010822;
}

#main section.social_wrap .social_board_ct {
  float: right;
  width: 945px;
  height: 630px;
  background: #444;
}

#main section.social_wrap .social_board_ct span {
  font-size: 16px;
  line-height: 26px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

#main section.social_wrap .social_board_ct .like_re_wrap {
  margin-top: 97px;
}

#main section.social_wrap .social_board_ct .like_re_wrap div,
#main section.social_wrap .social_board_ct .like_re_wrap p {
  float: left;
  margin-right: 5px;
}

#main section.social_wrap .social_board_ct .like_re_wrap .like {
  margin-right: 20px;
}

#main section.social_wrap .social_board_ct .like_re_wrap .like .like_icon {
  width: 27px;
  height: 23px;
  background-image: url(../img/like_re_icon.png);
  background-position: 0 0;
}

#main section.social_wrap .social_board_ct .like_re_wrap .re .re_icon {
  width: 27px;
  height: 23px;
  background-image: url(../img/like_re_icon.png);
  background-position: -32px 0px;
}

#main section.social_wrap .social_board_ct .social_board_1 {
  float: left;
  width: 315px;
  height: 630px;
  position: relative;
}

#main section.social_wrap .social_board_ct .social_board_1 li {
  width: 315px;
  height: 315px;
  overflow: hidden;
}

#main section.social_wrap .social_board_ct .social_board_1 li img {
  width: 315px;
}

#main section.social_wrap .social_board_ct .social_board_1 .s_txt_box_bottom {
  padding: 40px;
  background: #fff;
}

#main section.social_wrap .social_board_ct .social_board_1 .s_txt_box_bottom:after {
  content: "";
  display: block;
  border-width: 30px;
  border-style: solid;
  border-color: transparent transparent #fff;
  position: absolute;
  top: 256px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#main section.social_wrap .social_board_ct .social_board_1 .s_txt_box_top {
  padding: 40px;
  background: #fff;
}

#main section.social_wrap .social_board_ct .social_board_1 .s_txt_box_top:after {
  content: "";
  display: block;
  border-width: 30px;
  border-style: solid;
  border-color: #fff transparent transparent;
  position: absolute;
  top: 315px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#main section.item_wrap {
  width: 1260px;
  height: 315px;
  margin: 0 auto;
}

#main section.item_wrap .item {
  width: 630px;
  height: 315px;
  float: left;
  position: relative;
}

#main section.item_wrap .item .item_txt {
  position: absolute;
  top: 65px;
  left: 65px;
}

#main section.item_wrap .item .item_txt h3 {
  color: #3f3f41;
  font-size: 35px;
  margin-bottom: 40px;
}

#main section.item_wrap .item .item_txt h3:after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background: #2da6d5;
  margin: 15px 0;
}

#main section.item_wrap .item .item_txt a {
  font-size: 16px;
  color: #3f3f41;
  border: 1px solid #3f3f41;
  border-radius: 20px;
  padding: 5px 15px;
}

/*main*/
