#header {
  position: absolute;
  width: 100%;
}

.header_wrap {
  position: relative;
  top: 0;
  width: 100%;
  height: 105px;
  z-index: 2;
  &.on {
    width: 100%;
    height: 105px;
    background: #fff;
    &::after {
      content: "";
      position: absolute;
      display: block;
      top: 105px;
      width: 100%;
      height: 250px;
      background: #05123f;
      z-index: -1;
    }
    .header {
      nav.gnb {
        .gnb_depth_1 {
          div {
            a {
              color: #fff;
              display: block;
              color: #05123f;
            }
            .gnb_depth_2 {
              a {
                display: block;
              }
            }
          }
        }
      }
      .header_util {
        a {
          width: 103px;
          display: block;
          p {
            border: 1px solid #dee6f3;
            color: #323a57;
          }
          p.right {
            color: #323a57;
            background: #dee6f3;

            &:before {
              background: #dee6f3;
            }
          }
        }
      }
    }
  }
  &:after {
    display: none;
  }
  .header {
    width: 1260px;
    position: relative;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);

    a.logo {
      width: 160px;
      height: 34px;
      background-image: url(../img/top_logo.png);
      top: 5px;
      position: absolute;
    }

    nav.gnb {
      position: absolute;
      right: 400px;
      top: 1px;
      .gnb_depth_1 {
        div {
          float: left;
          padding-right: 10px;
          a {
            display: block;
            color: #fff;
            line-height: 45px;
            font-size: 17px;
            font-weight: 400;
            width: 100px;
            text-align: center;
            border-radius: 30px;
          }
          a:hover {
            background: #05123f;
            color: #fff;
          }

          .gnb_depth_2 {
            margin-top: 35px;
            li {
              a {
                font-size: 15px;
                line-height: 40px;
                font-weight: 400;
                display: none;
                color: #fff;
              }
              a:hover p {
                color: #019be2;
              }
            }
          }
        }
      }
    }

    .header_util {
      position: absolute;
      right: 0;
      top: 1px;
      ul {
        li {
          float: left;
          padding-right: 40px;

          a {
            width: 103px;
            display: block;
            p {
              border-radius: 25px;
              border: 1px solid rgba(255, 255, 255, 0.7);
              color: #fff;
              text-align: center;
              line-height: 43px;
              font-size: 14px;
            }
            p.right {
              border-radius: 25px;
              color: #323a57;
              background: #dee6f3;
              text-align: center;
              line-height: 43px;
              font-size: 14px;

              &:before {
                content: "";
                width: 1px;
                height: 35px;
                background: rgba(255, 255, 255, 0.7);
                position: absolute;
                left: 244px;
                top: 4px;
              }
            }
          }
          &:first-child {
            padding-right: 20px;
          }
          &:last-child {
            padding-right: 0;
          }
        }
      }
    }
  }
  .header_s_bg {
    width: 100%;
    height: 157px;
    background-image: linear-gradient(rgb(12, 12, 12), rgba(12, 12, 12, 0));
  }
}

// @keyframes m_on {
//   0% {
//     left: -100vw;
//   }
//   100% {
//     left: 50%;
//   }
// }

// @keyframes m_off {
//   0% {
//     left: 0%;
//   }
//   100% {
//     left: -100vw;
//   }
// }

@media screen and (max-width: 556px) {
  .header_wrap {
    position: fixed;
    width: 100%;
    height: 100%;
    &:after {
      display: none;
    }
    .header {
      position: fixed;
      width: 556px;
      height: 100%;
      left: 50%;
      top: 0;
      .header_top {
        width: 100%;
        height: 60px;
        // background: #fff;
        position: relative;
        top: 0;
        left: 16px;
        z-index: 1;
        a.logo {
          width: 117.647px;
          height: 25px;
          background-image: url(../img/top_logo.png);
          background-repeat: no-repeat;
          background-size: cover;
          top: 15px;
          left: 10px;
        }
      }
      .header_gnb {
        width: 100%;
        height: 100%;
        position: relative;
        top: -60px;
        left: -100%;
        background: #fff;
        nav.gnb {
          width: 100%;
          display: block;
          position: absolute;
          top: 60px;
          right: 0;
          // background: #fff;
          .gnb_depth_1 {
            div {
              float: none;
              width: 100%;
              padding: 0px 30px;
              margin: 0;
              border-bottom: 1px solid #eee;

              &:hover {
                background: #eee;
              }
              a {
                line-height: 80px;
                color: #333;
                width: 100%;
                text-align: left;
                display: block;
                border-radius: 0px;
                &:hover {
                  background: none;
                  color: #019be2;
                }
              }
            }
            .gnb_depth_2 {
              display: none;
            }
          }
        }
        .header_util {
          display: none;
        }
      }
    }
    /*header_wrap*/
  }

  .toggle_menu {
    width: 50px;
    height: 50px;
    position: fixed;
    top: 5px;
    right: 10px;
    cursor: pointer;
    z-index: 5;

    div {
      width: 34px;
      height: 3px;
      background: #05123f;
      border-radius: 3px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      transition: 0.3s;
    }
    .bar1 {
      top: 13.5px;
    }
    .bar2 {
      top: 23.5px;
    }
    .bar3 {
      top: 33.5px;
    }
  }
  .toggle_menu.change .bar1 {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  .toggle_menu.change .bar2 {
    opacity: 0;
  }
  .toggle_menu.change .bar3 {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  /*media query header gnb 끝*/
}
