@charset 'utf-8';
@import "reset";
@import "header";
@import "footer";

@keyframes viewTop {
  from {
    transform: translateY(-20px);
  }
  to {
    transform: translateY(0);
  }
}
body {
  background: #fafafa;
  .top {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    text-align: center;
    line-height: 80px;
    background: #dee6f3;
    position: fixed;
    right: 50px;
    bottom: 50px;
    color: #323a57;
    cursor: pointer;
    animation: viewTop 1s infinite alternate;
    opacity: 0;
    transition: 0.3s;
  }
  .top.view {
    opacity: 1;
  }
}
@keyframes brendBg {
  0% {
    background-size: 1920px;
  }
  100% {
    background-size: 2100px;
  }
}

#brand_hd_wrap {
  width: 100%;
  height: 460px;
  position: relative;
  top: 0;

  .brand_hd_bg {
    width: 100%;
    height: 460px;
    overflow: hidden;
    background-image: url(../img/visual_sales.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1920px;
    animation: brendBg ease-in-out 10s infinite alternate;
  }
  .brand_hd_txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    p {
      text-align: center;
      color: #fff;
      text-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    }
    img {
      width: 100px;
      height: 100%;
      margin: 0 auto;
      margin-bottom: 10px;
    }
  }
  .brand_hd_nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0%;
    width: 1260px;
    height: 70px;
    &:after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      width: 1260px;
      height: 2px;
      background: #05123f;
    }
    li {
      position: relative;
      float: left;
      width: 420px;
      height: 70px;
      background: #fff;
      &:after {
        content: "";
        display: block;
        width: 1px;
        height: 70px;
        background: #05123f2f;
        position: absolute;
        top: 0;
      }
      &:first-child:after {
        display: none;
      }
      &:hover {
        background: #05123f;
        z-index: 2;
      }
      &.active {
        background: #05123f;
        a {
          color: #fff;
        }
      }
      a {
        display: block;
        text-align: center;
        line-height: 70px;
        font-weight: bold;
        color: #3f3f41;
        font-size: 18px;
        letter-spacing: 3px;
        &:hover {
          color: #fff;
        }
      }
    }
  }
}
.sub_category {
  width: 1260px;
  height: 50px;
  margin: 0 auto;
  margin-top: 15px;
  li {
    float: left;
    margin-right: 9px;
    &:last-child {
      a {
        font-weight: bold;
        color: #019be2;
      }
    }
    a {
      font-size: 16px;
      font-weight: 600;
      text-align: center;
      line-height: 50px;
      color: #3f3f41;
    }
    img {
      margin-top: 19px;
    }
  }
}

.sub_content {
  width: 100%;
  margin-top: 20px;
  .brand_page {
    img {
      width: 1260px;
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: 556px) {
  body {
    background: #fafafa;
    .top {
      width: 60px;
      height: 60px;
      border-radius: 30px;
      text-align: center;
      line-height: 60px;
      background: #dee6f3;
      position: fixed;
      right: 30px;
      bottom: 30px;
      color: #323a57;
      cursor: pointer;
      animation: viewTop 1s infinite alternate;
      opacity: 0;
      transition: 0.3s;
    }
    .top.view {
      opacity: 1;
    }
  }
  #brand_hd_wrap {
    .brand_hd_txt {
      h1 {
        font-size: 40px;
        margin-bottom: 10px;
      }
      span {
        display: block;
      }
    }
    .brand_hd_nav {
      width: 100%;
      height: 60px;
      &:after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 2px;
        background: #05123f;
      }

      li {
        width: 33.33%;
        height: 60px;
        &:after {
          content: "";
          display: block;
          width: 1px;
          height: 60px;
          background: #05123f2f;
          position: absolute;
          top: 0;
        }

        a {
          line-height: 60px;
          font-size: 16px;
        }
      }
    }
  } /*brand_hd_wrap*/
  .sub_category {
    width: 100%;
    padding-left: 10px;
    margin-top: 0;
    // margin-bottom: 100px;
  }

  .sub_content {
    .brand_page {
      width: 100%;
      img {
        width: 90%;
      }
    }
  }
} /*media qury*/
